<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rk.mapper.DevDeviceInstanceMapper">

    <select id="selectMataDataById" resultType="java.lang.String">
        select derive_metadata from dev_device_instance where id=#{deviceId};
    </select>

    <select id="selectMataDataValueById" resultType="java.lang.String">
        select derive_metadata_value from dev_device_instance where id=#{deviceId};
    </select>

    <select id="selectDeviceIdByAddress" resultType="java.lang.String">
        select device_id from dev_device_instance_tcp_template where model_id=#{modelId} and device_address=#{deviceAddress} limit 1;
    </select>

    <select id="selectChannelByDeviceId" resultType="com.rk.domain.DeviceModel">
        SELECT DISTINCT channel FROM dev_device_model
        <where>
            1=1
            <if test="modelId != null and modelId != ''">
                and  model_id = #{modelId}
            </if>
            <if test="deviceAddress != null and deviceAddress != ''">
                and device_address = #{deviceAddress} ;
            </if>
        </where>
        limit 1
    </select>

    <select id="selectTcpTempBySendHex" resultType="java.lang.String">
        SELECT device_id FROM dev_device_instance_tcp_template WHERE instruction_crc = #{sendHex};
    </select>

    <select id="selectTcpTempByDeviceAddress" resultType="java.lang.String">
        SELECT device_id FROM dev_device_instance_tcp_template WHERE device_address=#{deviceAddress};
    </select>

    <update id="updateDeriveMetadataValueById">
        update dev_device_instance set derive_metadata_value = #{deriveMetadataValue} where id=#{deviceId};
    </update>

    <update id="updateDeviceModelByDeviceId">
        update dev_device_model set channel = #{channel} where model_id=#{modelId} and device_address=#{deviceAddress};
    </update>

    <insert id="insertDeviceModel" keyProperty="id" useGeneratedKeys="true">
        insert into dev_device_model(model_id, device_address, channel)
        values (#{modelId}, #{deviceAddress}, #{channel})
    </insert>
    <insert id="insertDeviceProperty" keyProperty="id" useGeneratedKeys="true">
        insert into dev_device_property(device_id, property,value)
        values (#{deviceId}, #{property},#{value})
    </insert>
</mapper>
